.container {
  display: flex;
}

.div {
  height: 100vh;
  flex-basis: 800px;
  border-left: 1px solid lightgrey;
}

.border {
  margin: 25px 25px 0px 25px;
}

.allQuestionsBox {
  display: flex;
  justify-content: space-between;
  height: 50px;
  font-size: 27px;
  padding-top: 10px;
  font-weight: 450;
}

.allQuestions {
  width: 160px;
}

.askQuesion {
  height: 37px;
  width: 103px;
  margin-left: 708px;
  background-color: #0095ff;
  border-radius: 5px;
  border: none;
  color: #fff;
}

.questionNumber {
  height: 50px;
  font-size: 17px;
  font-weight: 520;
  line-height: 50px;
}
