#signup-section {
  min-height: 100vh;
  margin: 0% auto;
  background-color: #f1f2f3;
  display: flex;
  justify-content: center;
  align-items: center;
}

#signup-container-1 {
  padding: 20px;
  margin-right: 30px;
}
/* 
#login-logo{
  padding: ;
} */
