.upDownCount {
  width: 40px;
  padding-right: 16px;
}

.upDownBox {
  width: 40px;
  height: 36px;
  display: flex;
  align-items: center;
}

.upButton {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 16px 16px 16px;
  border-color: transparent transparent var(--black-100) transparent;
}

.count {
  height: 27px;
  line-height: 27px;
  text-align: center;
  padding-right: 6px;
}

.downButton {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 16px 16px 0 16px;
  border-color: var(--black-100) transparent transparent transparent;
}
