.questionList {
  margin-right: 20px;
}

.question {
  padding: 16px;
  min-height: 120px;
  border-top: 1px solid var(--black-100);
}

.content {
  display: flex;
  margin: 16px 0px 0px 0px;
}

.contentDetail {
  margin-right: 16px;
  margin-bottom: 4px;
  width: 108px;
  height: 100px;
  text-align: end;
}

.voteAnswer {
  margin-bottom: 7px;
  font-size: 13px;
}

.contentBox {
  max-width: 925px;
  width: 100%;
}

.contentHeadBox {
  padding-right: 24px;
  margin-bottom: 5px;
  font-size: 17px;
}

.contentHead {
  color: var(--blue-600);
}

.contentBody {
  font-size: 13px;
  height: 34px;
  margin-bottom: 8px;

  /* ellipsis */
  line-height: 1.5;
  max-height: calc(1.5 * 2);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.contentTagAndUser {
  height: 38px;
  display: flex;
  justify-content: space-between;
}

.contentTagAndBox {
  height: 38px;
}

.contentTag {
  padding: 4.8px 6px;
  margin: 2px 5px 2px 0px;
  width: inherit;
  border-radius: 4px;
  background-color: var(--powder-100);
  color: var(--powder-700);
}

.contentUser {
  height: 38px;
  line-height: 40px;
}
