.quill {
  margin-top: 4px;
}
.ql-container {
  min-height: 200px;
  line-height: 1.5;
}

.ql-container p,
.ql-container pre {
  margin-bottom: 8px;
}

/* css reset 때문에 html 태그 효과 적용되지 않는 부분 되돌리기 */
p strong {
  font-weight: 600;
}
p em {
  font-style: italic;
}
